body {
  background-color: #040e15;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: #d9eaf7;
}

.mb-2 {
  /* margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem; */
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
}

h3 {
  margin: 1.25rem 0 0.5rem 0;
  color: #884ddb;
}

header h1 {
  font-weight: 700;
  font-size: 3rem;
  padding-right: 1rem;
  color: transparent;
  background: linear-gradient(120deg, #d9eaf7, #6299c0, #884ddb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 768px;
}

.synset-amount {
  text-align: center;
  font-weight: 100;
}

.synset-amount span {
  font-weight: 900;
  color: #852580;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 1rem 1rem;
}

input {
  height: 2.25rem;
  width: clamp(8rem, 116.364vw + -15.273rem, 12rem);
  font-weight: 700;
  font-size: 1rem;
  color: #040e15;
  padding: 0 0.8rem;
  border: none;
  background-color: #d9eaf7;
  border-radius: 4px 0 0 4px;
  border: none;
}

::placeholder {
  text-align: left;
  font-size: 1rem;
  font-style: italic;

  font-weight: 100;
  color: #7e95a5;
}

button {
  cursor: pointer;
  height: 2.3125rem;
  width: 8rem;
  font-weight: 700;
  font-size: 1rem;
  color: #040e15;
  padding: 0 0.4rem;
  border: none;
  background-color: #6299c0;
  border-radius: 0 4px 4px 0;
  border: none;
}

button:hover {
  color: #d9eaf7;
}

button:active {
  background-color: #366f97;
}

.syn-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  color: #6299c0;
}

.syn-container ul {
  flex: 1 1 calc(42.5% - 1rem);
  margin: 1rem 0.5rem;
  justify-content: center;
}

ul {
  padding-inline-start: 2rem;
  list-style-type: circle;
}

@media (width <= 414px) {
  header h1 {
    font-weight: 700;
    padding-right: 1rem;
    font-size: 2.5rem;
  }
}

@media (width <= 375px) {
  header h1 {
    font-weight: 700;
    padding-right: 1rem;
    font-size: 2.5rem;
  }
}
